---
// src/pages/contact.astro
import BaseLayout from '@layouts/BaseLayout.astro';
// import ContactForm from '../components/Contact/ContactForm.astro';
---
<BaseLayout title="Contacto | Mi Portfolio Rebombante">
  <section class="container mx-auto py-12 px-4">
    <h1 class="text-4xl font-bold mb-8 text-sky-400">Hablemos</h1>
    <p class="text-zinc-300 mb-6">Si tienes alguna pregunta o propuesta, no dudes en contactarme.</p>
    {/* <ContactForm /> Lo añadiremos después */}
  </section>
</BaseLayout>